.container {
  display: flex;
  height: 10rem;
}

.searchBar {
  display: flex;
  flex-direction: row;
  width: 50vw;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.148);
  margin: auto;
  padding: 1rem 3rem;
  border-radius: 40px;
  justify-content: space-between;

  .line {
    border: 1px solid black;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #333;
  width: 50px;
  height: 50px;
}

//on hover titles

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0rem;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.text {
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  h4 {
    color: #333;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 5px;
  }
  &:hover {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

.search {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 14px;
}
