.container {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

.searchBar {
  display: flex;
  flex-direction: row;
  width: 800px;
  background-color: white;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.148);
  margin: auto;
  position: relative;
  border-radius: 40px;
  justify-content: space-between;
  .boxes {
    margin: auto;
    width: 100%;
    border-radius: 40px;
    height: 100%;
    padding: 1rem;
    padding-left: 1.5rem;
    cursor: pointer;
  }

  .line {
    border: 1px solid rgba(0, 0, 0, 0.232);
    height: 2rem;
    margin: auto;
  }

  .boxes:hover {
    background-color: #33333314;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
  }
  h3 {
    font-size: 1rem;
    color: #333333a3;
    margin: 0;
  }

  .searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #333;
  width: 50px;
  height: 50px;
}

//end

.sectionEndLine {
  border: 1px solid rgba(0, 0, 0, 0.092);
}

//Like

.postImage {
  position: relative;
}

.readHeart {
  color: red;
}

.like {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

//Category

.categorySection {
  position: relative;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  white-space: nowrap;

  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  .scroll {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    top: 50%;
    left: 120px;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .scrollRight {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    top: 50%;
    right: 90px;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.categoryList {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  width: 80rem;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin: 0 2rem;
}

.categorySection {
  padding: 1rem 2rem;
  .line {
    border: 1px solid rgb(0, 0, 0);
    width: 2rem;
  }
  .nameActive {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    margin-top: 0.5rem;
  }
}

.categoryItem:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 22px;
}

.name {
  font-size: 13px;
  font-weight: 600;
  color: #33333357;
  margin-top: 0.5rem;
}

.categorySection::-webkit-scrollbar {
  height: 8px;
}

.categorySection::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

//on hover titles

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0rem;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.text {
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  h4 {
    color: #333;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 5px;
  }
  &:hover {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

.search {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 14px;
}

.postP {
  font-size: 15px;
}

.saveScreen {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(50%, -50%);
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
  background-color: white;
  z-index: 9999;
}

.backBlur {
  position: fixed;
  background: rgba(0, 0, 0, 0.117);
  backdrop-filter: blur(8px);
  width: 98vw;
  height: 100vh;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
